version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: analytics-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: analytics-backend
    ports:
      - "4000:4000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/analytics
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: analytics-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  mongo-data: