<div class="dashboard">
  <div class="kpi-grid" *ngIf="kpis?.totalUsers !== undefined">
    <app-kpi-card title="Total Users" [value]="kpis?.totalUsers"></app-kpi-card>
    <app-kpi-card
      title="Active Users"
      [value]="kpis?.activeUsers"
    ></app-kpi-card>
    <app-kpi-card
      title="Total Revenue"
      [value]="kpis?.totalRevenue"
    ></app-kpi-card>
    <app-kpi-card
      title="Purchases"
      [value]="kpis?.totalPurchases || 0"
    ></app-kpi-card>
    <app-kpi-card
      title="Conversion Rate"
      [value]="kpis?.conversionRate || 0"
    ></app-kpi-card>
  </div>

  <form [formGroup]="filterForm">
    <div class="filters form-group">
      <label> From: </label>
      <input class="form-control" type="date" formControlName="from" />

      <label> To: </label>
      <input class="form-control" type="date" formControlName="to" />

      <label> Gender: </label>
      <select class="form-select" formControlName="gender">
        <option value="" selected>Select</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>

      <label> Country: </label>
      <select class="form-select" formControlName="country">
        <option value="" selected>Select</option>
        <option value="India">India</option>
        <option value="USA">USA</option>
        <option value="UK">UK</option>
        <option value="Germany">Germany</option>
      </select>

      <label> Device: </label>
      <select class="form-select" formControlName="device_type">
        <option value="" selected>Select</option>
        <option value="ios">IOS</option>
        <option value="android">Android</option>
        <option value="web">Web</option>
      </select>

      <button class="btn btn-primary ms-3 w-50" (click)="applyFilters()">
        Apply
      </button>
    </div>
  </form>
  
  <!-- chart grid -->
   <div class="chart-grid">
    <div class="chart">
      <h3>Signups Over Time</h3>
      <canvas baseChart [type]="'line'" [data]="signupChartData"> </canvas>
    </div>

    <div class="chart">
      <h3>Events Over Time</h3>
      <canvas baseChart [type]="'line'" [data]="eventsChartData"> </canvas>
    </div>

    <div class="chart">
      <h3>Purchases Over Time</h3>
      <canvas baseChart [type]="'line'" [data]="purchaseChartData"></canvas>
    </div>

    <div class="chart">
      <h3>Revenue Over Time</h3>
      <canvas baseChart [type]="'line'" [data]="revenueChartData"></canvas>
    </div>

    <div class="chart">
      <h3>Users by Age Group</h3>
      <canvas baseChart [type]="'bar'" [data]="ageChartData"></canvas>
    </div>

    <div class="chart">
      <h3>Users by Country</h3>
      <canvas baseChart [type]="'bar'" [data]="countryChartData"></canvas>
    </div>

    <div class="chart">
      <h3>Users by Gender</h3>
      <div class="middle">
        <canvas baseChart [type]="'pie'" [data]="genderChartData"></canvas>
      </div>
    </div>

    <div class="chart">
      <h3>Users by Device</h3>
      <div class="middle">
        <canvas baseChart [type]="'doughnut'" [data]="deviceChartData"></canvas>
      </div>
    </div>
   </div>
</div>
