.dashboard {
  padding: 2rem;
}

.kpi-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.chart-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.chart {
  // margin-top: 2rem;
  // margin-bottom: 4rem;
  // background: white;
  // padding: 2rem;
  // border-radius: 8px;
  // width: 45%;
  // float: left;
  // position: relative; 
  max-height: 350px;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  // margin-top: 5rem;
}

.filters {
  display: flex;
  // width: 50%;
  margin-top: 2rem;
  label {
    margin: 1rem;
  }
}

form {
  height: 50px;
}
