<div class="dashboard">
  <div class="kpi-grid" *ngIf="kpis?.totalUsers !== undefined">
    <app-kpi-card title="Total Users" [value]="kpis?.totalUsers"></app-kpi-card>
    <app-kpi-card
      title="Active Users"
      [value]="kpis?.activeUsers"
    ></app-kpi-card>
    <app-kpi-card
      title="Total Revenue"
      [value]="kpis?.totalRevenue"
    ></app-kpi-card>
    <app-kpi-card
      title="Purchases"
      [value]="kpis?.totalPurchases || 0"
    ></app-kpi-card>
    <app-kpi-card
      title="Conversion Rate"
      [value]="kpis?.conversionRate || 0"
    ></app-kpi-card>
  </div>

  <div *ngFor="let message of uniqueErrorMessages">
    <span class="text-danger" *ngIf="message">{{ message }}</span>
  </div>
  <div></div>

  <form [formGroup]="filterForm">
    <div class="filters form-group">
      <label> From: </label>
      <input
        class="form-control"
        type="date"
        formControlName="from"
        [max]="filterForm.get('to')?.value || maxDate"
      />

      <label> To: </label>
      <input
        class="form-control"
        type="date"
        formControlName="to"
        [min]="filterForm.get('from')?.value"
        [max]="maxDate"
      />

      <label> Gender: </label>
      <select class="form-select" formControlName="gender">
        <option value="" selected>Select</option>
        <option *ngFor="let g of genders" [value]="g">{{ g }}</option>
      </select>

      <label> Country: </label>
      <select class="form-select" formControlName="country">
        <option value="" selected>Select</option>
        <option *ngFor="let c of countries" [value]="c">{{ c }}</option>
      </select>

      <label> Device: </label>
      <select class="form-select" formControlName="device_type">
        <option value="" selected>Select</option>
        <option *ngFor="let d of devices" [value]="d">{{ d }}</option>
      </select>

      <button class="btn btn-primary ms-3 w-50" (click)="applyFilters()">
        Apply
      </button>
    </div>
    <div
      class="text-danger mt-1"
      *ngIf="filterForm.errors?.['dateRangeInvalid']"
    >
      From date cannot be greater than To date
    </div>

    <div
      class="text-danger mt-1"
      *ngIf="filterForm.errors?.['futureDateInvalid']"
    >
      Future dates are not allowed
    </div>
    <button type="button" class="btn btn-link" (click)="clearFilter()">
      Clear filter
    </button>
  </form>

  <!-- chart grid -->
  <div class="chart-grid">
    <div class="chart">
      <h3>Signups Over Time</h3>
      <canvas baseChart [type]="'line'" [data]="signupChartData"> </canvas>
    </div>

    <div class="chart">
      <h3>Events Over Time</h3>
      <canvas baseChart [type]="'line'" [data]="eventsChartData"> </canvas>
    </div>

    <div class="chart">
      <h3>Purchases Over Time</h3>
      <canvas baseChart [type]="'line'" [data]="purchaseChartData"></canvas>
    </div>

    <div class="chart">
      <h3>Revenue Over Time</h3>
      <canvas baseChart [type]="'line'" [data]="revenueChartData"></canvas>
    </div>

    <div class="chart">
      <h3>Users by Age Group</h3>
      <canvas baseChart [type]="'bar'" [data]="ageChartData"></canvas>
    </div>

    <div class="chart">
      <h3>Users by Country</h3>
      <canvas baseChart [type]="'bar'" [data]="countryChartData"></canvas>
    </div>

    <div class="chart">
      <h3>Users by Gender</h3>
      <div class="middle">
        <canvas baseChart [type]="'pie'" [data]="genderChartData"></canvas>
      </div>
    </div>

    <div class="chart">
      <h3>Users by Device</h3>
      <div class="middle">
        <canvas baseChart [type]="'doughnut'" [data]="deviceChartData"></canvas>
      </div>
    </div>
  </div>
</div>
